#InputContainer {
  display: flex;
  flex-direction: row;
  height: min-content;
  width: min-content;
  align-items: center;
  border-radius: 10px;
  background-color: #dab69240;
  margin-top: 10vh;
  margin-left: 26vw;
  border: 2px solid #dab692;
  z-index: 10000;
}
#ActivityInput {
  background-color: #00000000;
  outline: none;
  border: none;
  appearance: none;
  -webkit-appearance: none;
  -ms-appearance: none;
  -moz-appearance: none;
  padding: 15px;
  font-size: 3vh;
  width: 40vw;
}

#SearchBTN {
  margin-right: 10px;
}

::placeholder {
  color: #dab692;
}

#SunnyAfterPrompt {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

#TryAgainBTN {
  width: 15vw;
  position: absolute;
  bottom: 6vh;
  right: 15vw;
  z-index: 1000;
}
